
@{
    ViewBag.Title = "CreateUserExercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateUserExercise</h2>



<form action="/AspNetUserExercises/CreateUserExercise" method="post">

    User Name: @Html.DropDownList("Id", "")
    <br /><br /><br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Assign Exercise</th>
                <th>Exercise Name</th>
                <th>Exercise Description</th>
                <th>Exercise Category</th>
            </tr>
        </thead>



        @foreach (var exercise in ViewBag.Exercises)
        {
            <tr>
                <td>
                    <input type="checkbox" name="ExerciseIds" value="@exercise.ExerciseId" />
                </td>
                <td>
                    @exercise.ExerciseName
                </td>
                <td>
                    @exercise.ExerciseDesc
                </td>
                <td>
                    @exercise.ExerciseCategory
                </td>
            </tr>
        }
    </table>




    <button type="submit" class="btn btn-primary">Assign Exercises to Users</button>
  @* <input type="submit" value="Assign Exercises to Users" />*@
    @*    <button type="button" class="btn btn-primary">Primary</button>*@
</form>

